* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f4f9;
  color: #333;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/* index.html navigation */

header {
  background-color: #333;
  padding: 1rem 2rem;
  color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  gap: 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  max-height: 80px;
  margin-right: 1rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.button-common {
  background-color: #ff6600;
  color: white;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.button-common:hover {
  background-color: #e65c00;
  outline: none;
}

/* index.html intro section */

.intro-section {
  text-align: center;
  padding: 2rem;
  background-color: #f4f4f9;
}

.intro-section h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.intro-section p {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto 2rem;
  color: #555;
}

/* index.html images */

.previous-work {
  background-color: #333;
  padding: 2rem;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card {
  flex: 1 0 33.33%;
  border-radius: 8px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.view-gallery-container {
  text-align: center;
  margin-top: 1rem;
}

/* index.html testimonials */

.testimonials {
  padding: 1.5rem 1rem;
}

.quotes {
  display: flex;
  gap: 1rem;
}

.quotes blockquote {
  background-color: #555;
  padding: 1.5rem;
  border-radius: 4px;
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* index.html socials-connect */
.socials-container {
  max-width: 1000px;
  margin: 1rem auto;
}

.socials-connect {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.socials-connect a {
  color: inherit;
  text-decoration: none;
}

.socials-connect i {
  font-size: 1.5rem;
  transition: color 0.3s;
}

.socials-connect a:hover i {
  color: #e94e77;
}

/* index.html footer */

.footer-main {
  background-color: #333;
  padding: 1rem 2rem;
  color: #fff;
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
